/* Styles to prevent Google layer from covering Carto results */
.leaflet-google-layer {
    z-index: 0 !important;
}

.leaflet-map-pane {
    z-index: 100;
}

/* Styles for info window. Class names can vary. */
.infoBox {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

/* Styles for map div */
div#mapCanvas {
  height: 500px;
  width: 100%;
}